* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background: linear-gradient(#e66465, #9198e5);
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
}

/* Form */
form {
    max-width: 730px;
    margin: 0 auto;
    height: 350px;
}

.form-sec {
    width: 100%;
    height: 50px;
    margin: 5px 0;
}

.form-sec label {
    float: left;
    font-size: 1.3em;
    padding-top: 3px;
}

.form-sec input,
.form-sec select {
    float: right;
    width: 500px;
    height: 30px;
    font-size: 16px;
    border-radius: 5px;
    border: none;
}

#submit {
    font-size: 1.1em;
    padding: 10px 15px;
    border-radius: 5px;
    border: none;
    background-color: rgb(55, 55, 246);
    color: #fff;
}

#submit:hover {
    background-color: rgb(0, 0, 141);
}

/* Table */
table {
    width: 1000px;
    margin: 0 auto;
}

#thead-row {
    background-color: #fff;
    ;
}

.row {
    height: 50px;
    text-align: center;
}

table th {
    border-right: 1px solid rgb(160, 160, 160)
}

.p-table {
    width: 100px;
}

.subject-table {
    width: 20%;
}

.priority-table {
    width: 12%;
}

.due-table {
    width: 11%;
}

.status-table {
    width: 12%;
}

.percent-table {
    width: 20%;
    text-align: left;
}

.modified-table {
    width: 20%;
}

/* Progress bar  */
.container {
    background-color: rgb(192, 192, 192);
    width: 80%;
    border-radius: 15px;
    height: 15px;
    float: right;
}

.percent-bar {
    background-color: rgb(116, 194, 92);
    color: white;
    padding: 1%;
    height: 15px;
    text-align: right;
    font-size: 20px;
    border-radius: 15px;
}

/* Bar width */

.percent0 {
    width: 1%;
}

.percent25 {
    width: 25%;
}

.percent50 {
    width: 50%;
}

.percent75 {
    width: 75%;
}

.percent100 {
    width: 100%;
}

/* Priority styling */
.priority-high{
    background-color: red;
    padding: 15px 10px;
}

.priority-normal{
    background-color: yellow;
    padding: 15px 10px;
}

.priority-low{
    background-color: green;
    padding: 15px 10px;
}

/* Icons */

.icons {
    height: 24px;
    width: 24px;
    margin-bottom: 5px;
}

.close{
    float: right;
}

.thead{
    margin-top: 10px;
}

.check{
    float: left;
    margin-left: 50px;
}

.line-through{
    text-decoration: line-through;
}

